@charset "UTF-8";
/* CSS Document */


body {
  font-family: 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック','Lucida Grande', 'Lucida Sans Unicode', 'Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', Helvetica, Arial, Verdana, sans-serif;
  font-size:12px;
  text-align: center;
  line-height: 1.8; 
}

img {
  font-size: 0;
  line-height: 0;
  vertical-align: bottom;
}

#header{
  width:100%;
  height: auto;
  padding: 10px 0;
  text-align: center;
  background: #CD0E51;
  font-size: 40px;
  font-weight: bold;
  color: #FFF;
  border-top: #FFF 5px solid;
}

#showNumberBox{
 margin: 20px auto;
 background-color: #CD0E51;
 height: 150px;
 width: 150px;
 border-radius:75px;
 -moz-border-radius:75px;
 -webkit-border-radius: 75px;
 text-align: center;
}

#showNumber{
  width: 100px;
  height: 100px;
  font-size: 60px;
  padding-top: 20px;
  margin: 0 auto;
  color: #FFF;
  font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
}
#ember228{
  padding: 0.3em;
  font-size: 21px;
  font-weight: 300;
  height: 20px;
  border: 1px solid #ccc;
  background: #fcfcfc;
  width: 120px;
}

#judge{
  width: 120px;
  display: block;
  height: 30px;
  margin: 10px auto;
}

#soulgemBox{
  position: relative;
  z-index: 100;
  width:120px;
  margin:20px auto;
  text-align: center;
}
#soulgem{
  width:105px;
  height: 185px;
  background: #000;
  margin:0 auto;
}

.resultMessage{
  font-size: 24px;
}

/******************************************************
 * QB
 *****************************************************/
.qb {
  width: 465px;
  height: 50px;
  position: relative;
  margin: 10px auto; 

}

.qb div {
  position: absolute;
}
.qb .head {
  background: #fff;
  width: 160px;
  height: 120px;
  left: 145px;
  top: 40px;
  z-index: 3;
}

.qb .eye{
  background: #ed3a7d;
  width: 52px;
  height: 52px;
  border: 2px solid #721c2b;
  border-radius: 28px;
  -moz-border-radius: 28px;
  
  z-index: 5;
}

.qb .eye .small-eye{
  background: #9a0e43;
  width: 26px;
  height: 26px;
  border-radius: 14px;
  -moz-border-radius: 14px;
  -webkit-box-shadow: 0px 0px 6px #721c2b;
  -moz-box-shadow: 0px 0px 6px #721c2b;
  box-shadow: 0px 0px 6px #721c2b;
  left: 14px;
  top: 14px;
}

.qb .eye .reflection{
  background: white;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  -moz-border-radius: 10px;
  background: -webkit-gradient(radial, 5 5, 0, 5 5, 5, 
    from(white), 
    color-stop(50%, white),
    to(rgba(255, 255, 255, 0.5)));
  background: -moz-radial-gradient(center , circle, white 0%, white 30%, rgba(255, 255, 255, 0));
  background: -webkit-radial-gradient(center , circle, white 0%, white 30%, rgba(255, 255, 255, 0));
  background: -o-radial-gradient(center , circle, white 0%, white 30%, rgba(255, 255, 255, 0));

  box-shadow: 0px 0px 6px white;
  left: 30px;
  top: 6px;
}

.qb .eye.left{
  left: -100px;
  top: 35px;
}

.qb .eye.right{
  left: 210px;
  top: 35px;
}
